# Google Ads API credentials
GOOGLE_ADS_DEVELOPER_TOKEN=YOUR_DEVELOPER_TOKEN
GOOGLE_ADS_OAUTH2_CLIENT_ID=YOUR_OAUTH2_CLIENT_ID
GOOGLE_ADS_OAUTH2_CLIENT_SECRET=YOUR_OAUTH2_CLIENT_SECRET
GOOGLE_ADS_OAUTH2_REFRESH_TOKEN=YOUR_OAUTH2_REFRESH_TOKEN
GOOGLE_ADS_LOGIN_CUSTOMER_ID=
GOOGLE_ADS_DEFAULT_CUSTOMER_ID=
GOOGLE_ADS_USE_GRPC_CORE=false
